#mission {
  /* remove below styling */
  background: white;
  padding-top: 5%;
  margin: 5%;
}

.column {
  float: left;
}
.left{
  flex: 40%
}

.right{
  flex: 60%;
}

.row{
  display: flex;
}

p{
  margin-bottom: 5%;
  line-height: 1.4;
}

h1{
  font-size: 3em;
}