body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// ----- VARIABLES -----

$header-height: 6rem;

$color-black: #000000;
$color-brown: #C79288;
$color-white: #FFFFFF;
$color-gray--light: #FAFAFA;
$color-gray--dark: #CCCCCC;

